Package: com.karimo299.ccringer
Name: CCRinger
Depends: mobilesubstrate, com.kaneb.kbpreferences, com.opa334.ccsupport
Version: 2.1.0
Architecture: iphoneos-arm
Description: An awesome Ringer Control Center module! With combined system/ringer volume slider support
Maintainer: Karimo299 & Kane Buckthorpe
Author: Karimo299 & Kane Buckthorpe
Section: Control Center (Modules)
