<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Main</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>PostNotification</key>
				<string>com.karimo299.ccringer/prefChanged</string>
				<key>defaults</key>
				<string>com.karimo299.ccringer</string>
				<key>key</key>
				<string>isEnabled</string>
				<key>label</key>
				<string>Enable Tweak</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Options</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.karimo299.ccringer/prefChanged</string>
				<key>defaults</key>
				<string>com.karimo299.ccringer</string>
				<key>key</key>
				<string>expandOnly</string>
				<key>label</key>
				<string>Toggle only when expanded</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.karimo299.ccringer/prefChanged</string>
				<key>defaults</key>
				<string>com.karimo299.ccringer</string>
				<key>key</key>
				<string>rememberMode</string>
				<key>label</key>
				<string>Remember last mode</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Extra</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Reset settings to defaults</string>
				<key>action</key>
				<string>reset</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Respring</string>
				<key>action</key>
				<string>respring</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Developers</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>KBFooterCell</string>
				<key>height</key>
				<string>70</string>
				<key>icon</key>
				<string>https://twitter.com/karimo299/profile_image?size=original</string>
				<key>label</key>
				<string>Karimo299</string>
				<key>socialLinks</key>
				<array>
					<dict>
						<key>icon</key>
						<string>/Library/PreferenceBundles/CCRingerTweakPrefs.bundle/twitter.png</string>
						<key>link</key>
						<string>https://twitter.com/Karimo299</string>
					</dict>
					<dict>
						<key>icon</key>
						<string>/Library/PreferenceBundles/CCRingerTweakPrefs.bundle/paypal.png</string>
						<key>link</key>
						<string>https://www.paypal.me/Karimo299</string>
					</dict>
					<dict>
						<key>icon</key>
						<string>/Library/Frameworks/KBPreferences.framework/github</string>
						<key>link</key>
						<string>https://www.github.com/Karimo299/</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>KBFooterCell</string>
				<key>height</key>
				<string>70</string>
				<key>icon</key>
				<string>https://twitter.com/indiedevkb/profile_image?size=original</string>
				<key>label</key>
				<string>Kane Buckthorpe</string>
				<key>socialLinks</key>
				<array>
					<dict>
						<key>icon</key>
						<string>/Library/PreferenceBundles/CCRingerTweakPrefs.bundle/twitter.png</string>
						<key>link</key>
						<string>https://twitter.com/indieDevKB</string>
					</dict>
					<dict>
						<key>icon</key>
						<string>/Library/PreferenceBundles/CCRingerTweakPrefs.bundle/paypal.png</string>
						<key>link</key>
						<string>https://www.paypal.me/kanebuckthorpe/2.00</string>
					</dict>
					<dict>
						<key>icon</key>
						<string>/Library/Frameworks/KBPreferences.framework/github</string>
						<key>link</key>
						<string>https://www.github.com/kanesbetas/</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>CCRinger</string>
	</dict>
</plist>
